html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    // overflow: hidden;
    box-sizing: border-box;
    font-family: "Shree Devanagari 714", Arial, Lucida, sans-serif !important;
}

$background-color: white;
$hm-border-color: black;
$word-whitebg-color: black;

// Word Color
$word-color: #4e4e4e;
$word-on-darkbg-color: white;

// Pricing content color
$pricing-word-color: $word-on-darkbg-color;
$pricing-header-color: #2d2625;
$pricing-border-color: $word-color;
$pricing-bg-color: #FDFCFC;

// $Variable
@mixin text-element($txt-margin, $txt-padding, $txt-deco, $txt-color) {
    margin: $txt-margin;
    padding: $txt-padding;
    text-decoration: $txt-deco;
    color: $txt-color;
}

@mixin text-about-area($font-size, $text-align, $line-height, $font-weight) {
    font-size: $font-size;
    text-align: $text-align;
    line-height: $line-height;
    font-weight: $font-weight;
}

@mixin text-pricing-area($font-size, $font-style, $line-height, $background-color) {
    font-size: $font-size;
    font-style: $font-style;
    line-height: $line-height;
    background-color: $background-color;
}

// Top menu bar
%menu-item-ele {
    padding: 30px 40px;
    position: relative;
    color: $word-color;
    a {
        font-size: 19px;
        display: inline-block;
        @include text-element(0, 0, none, $word-color);
        font-weight: 400;
    }
}

// Pricing content
%pricing-ele {
    margin-bottom: 50px;
    width: 48%;
    background: $pricing-bg-color;
    h4 {
        @include text-pricing-area(20px, italic, 1em, $pricing-header-color);
        @include text-element(0, 15px 10px 10px, none, $pricing-word-color);
    }
    table {
        width: 100%;
        border-collapse: collapse;
        td:first-child {
            text-align: left;
            width: auto;
        }
        td {
            border: 1px solid $pricing-border-color;
            border-width: 1px 0;
            padding: 10px 10px 5px;
        }
    }
}

// Start: Header Area
.home-menu {
    background: $background-color;
    position: fixed;
    width: 100%;
    display: block;
    z-index: 999;
    border-bottom: 1px solid $hm-border-color;
    .container-area {
        margin: 0 auto;
        max-width: 1230px;
        padding: 0 15px;
        .menu-area {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo {
                padding: 8px 0;
                a:hover {
                    outline: 0;
                    text-decoration: none;
                    color: black;
                }
                a {
                    @include text-element(0, 0, none, $word-color);
                    display: block;
                    font-size: 15px;
                    font-weight: 400;
                    img {
                        width: 300px;
                        margin-right: auto;
                        // margin-left: auto;
                    }
                }
            }
            .main-menu {
                #menu-main-menu {
                    display: flex;
                    align-items: center;
                    list-style: none;
                    #menu-item-about {
                        @extend %menu-item-ele
                    }
                    #menu-item-pricing {
                        @extend %menu-item-ele
                    }
                    #menu-item-shop {
                        @extend %menu-item-ele
                    }
                    #menu-item-contact {
                        @extend %menu-item-ele
                    }
                    #menu-item-booknow {
                        position: relative;
                        margin-left: 26px;
                        padding: 0;
                        a {
                            background: transparent;
                            font-size: 19px;
                            line-height: 1;
                            margin-left: 15px;
                            font-weight: 300;
                            display: flex;
                            align-items: center;
                            padding: 0 30px;
                            height: 40px;
                            text-transform: none;
                            border: 1px solid $word-color;
                            color: $word-color;
                            margin: 0;
                            text-decoration: none;
                        }
                    }
                    .add-to-cart {
                        padding: 0 25px 0 30px;
                        position: relative;
                        cursor: pointer;
                        a {
                            font-size: 19px;
                            display: inline-block;
                            @include text-element(0, 0, none, $word-color);
                            font-weight: 400;
                        }
                        span {
                            position: absolute;
                            right: 0;
                            top: -10px;
                            height: 30px;
                            width: 30px;
                            background: black;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            font-size: 15px;
                            line-height: 17px;
                            @include text-element(0, 0, none,$word-on-darkbg-color);
                        }
                    }
                }
            }

        }

    }
    
}
// End: Header Area

// Start: Banner Area
.banner-area {
    .container-area {
        margin: 0 auto;
        padding: 0 15px;
        max-width: 1230px;
        .banner-content {
            height: 1330px;
            display: flex;
            align-items: center;
            a {
                @include text-element(0, 0, none, $word-color);
                font-size: 15px;
                font-weight: 400;
                img {
                    width: 100%;
                }
            }
        }
    }
}
// End: Header Area


// Start: About Website
#about-section {
    background: url(../img/about-bg.jpg);
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    .container-area {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        max-width: 1230px;
        padding: 180px 15px 150px;
        margin: 0 auto;
        .about-content {
            width: 550px;
            text-align: center;
            h2 {
                // text-about-area($font-size, $text-align, $line-height, $font-weight)
                // text-element($txt-margin, $txt-padding, $txt-deco, $txt-color)
                @include text-about-area(64px, center, 1.3, 300);
                @include text-element(0, 0, none, $word-on-darkbg-color);
            }
            h5 {
                @include text-about-area(20px, center, 1.3, 500);
                @include text-element(0, 0 30px, none, $word-on-darkbg-color);
            }
            p {
                @include text-about-area(16px, center, 1.6, 200);
                @include text-element(0, 30px 0 15px, none, $word-on-darkbg-color);
            }
        }
    }
}
// End: About Website

// Start: Pricing
.pricing-area {
    padding: 110px 0 50px;
    .pricing-constrained-content {
        padding-top: 0;
        width: 90%;
        max-width: 2000px;
        margin: auto;
        h2 {
            text-align: center;
            margin: 0;
            padding: 0;
            text-decoration: none;
            color: $word-color;
            font-weight: 300;
            font-size: 64px;
        }
        //text-element($txt-margin, $txt-padding, $txt-deco, $txt-color)
        //text-about-area($font-size, $text-align, $line-height, $font-weight)
        //text-pricing-area($font-size, $font-style, $line-height, $background-color)
        .pricing-section-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            h3 {
                // padding-bottom: 20px;
                width: 100%;
                @include text-about-area(40px, center, 1.3, 300);
                @include text-element(0, 0 0 20px 0, none, $word-color);
            }
            .mens-haircut {
                @extend %pricing-ele
            }
            .womens-haircut {
                @extend %pricing-ele
            }
            .upstyle {
                @extend %pricing-ele
            }
            .downstyle {
                @extend %pricing-ele
            }
            .blow-dry {
                @extend %pricing-ele
            }
            .regrowth {
                @extend %pricing-ele
            }
            .toner {
                @extend %pricing-ele
            }
            .semi {
                @extend %pricing-ele
            }
            .foiling-from {
                @extend %pricing-ele
            }
            .fashion-color {
                @extend %pricing-ele
            }
            .balayage {
                @extend %pricing-ele
            }
            .scalp-bleach {
                @extend %pricing-ele
            }
            .colour-correction {
                @extend %pricing-ele
            }
            .after-colour {
                @extend %pricing-ele
            }
            .block-1-treatments {
                @extend %pricing-ele
            }
            .block-2-treatments {
                @extend %pricing-ele
            }
            .block-3-treatments {
                @extend %pricing-ele
            }
            .block-4-treatments {
                @extend %pricing-ele
            }
        }
    }
}
// End: Pricing
//text-element($txt-margin, $txt-padding, $txt-deco, $txt-color)
//text-about-area($font-size, $text-align, $line-height, $font-weight)
//text-pricing-area($font-size, $font-style, $line-height, $background-color)

.sebastian-area {
    .sebastian-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .sebastian-item {
            position: relative;
            width: 49%;
            img {
                width: 100%;
            }
            a {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                transform: translate(-50%, -50%);
                text-shadow: -1px -1px 1px rgb(255 255 255 / 10%), 1px 1px 1px rgb(0 0 0 / 50%);
                @include text-about-area(50px, center, none, 400);
                @include text-element(0, 0, none, $word-on-darkbg-color);
            }
            a:hover {
                transition: all .3s ease;
                color: $word-color;
            }
        }
    }
}
// End: Sebastian

// Stockist of Mr Smith
.stockist-area {
    background: url(../img/smith-cover.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 15px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    position: relative;
    z-index: 1;
    h2 {
        text-shadow: -1px -1px 1px rgb(255 255 255 / 10%), 1px 1px 1px rgb(0 0 0 / 50%);
        @include text-element(0, 0, none, $word-on-darkbg-color);
        @include text-about-area(64px, inherit, none, 300);
        
    }
}
// End Mr Smith